<main class="profile-container">
    <div class="container">
        <h1>{{user.username}}'s Profile</h1>
        <img src="{{user.image}}" alt="profile image">
        <h3>About me</h3>
        {{#if {{user.description}}}}
            <p>{{user.description}}</p>
        {{else}}
            <p>Why don't you write about yourself?...It would be nice knowing something about you!</p>
        {{/if}}
    
        <h3>Interests</h3>
        <p>{{user.interests}}</p>

    </div>
</main>