<main class="my-recipes-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-md btn-green" href="/profile/my-recipes/{{user}}/add"> Add recipe!</a>
                <hr>
            </div>
        </div>
        <div class="row justify-content-center">
            {{#each theRecipes}}
            <div class="col-4" data-recipe="{{id}}">
                <article class=" recipe-card">
                    <div class="card">
                        {{>cardRecipeInfo this}}
                        <div class="card-body card-body-my-recipes" data-recipe="{{id}}">
                            <div class="buttons-container-recipes">

                                <a href="/profile/my-recipes/edit/{{id}}" class="btn btn-xs btn-green">&#9998;</a>
                                <form action="/profile/my-recipes/delete/{{id}}" method="post">
                                    <input type="submit" data-recipe="{{id}}"
                                        class="btn btn-xs btn-green remove-recipe-btn" value="&#10006;">
                                </form>

                                <a href="/profile/my-recipes/details/{{id}}" class="btn btn-xs btn-green">&#10010;</a>
                            </div>
                            <hr>
                            <div class="buttons-container-recipes">
                                <form action="/profile/my-recipes/add-to-week/{{id}}" method="POST">
                                    <input type="date" name="mealDate" max="{{../lastDay}}" min="{{../today}}"
                                        data-recipe="{{id}}" class="weekdate">
                                    <input type="submit" value="Add to week" data-recipe="{{id}}"
                                        class="btn btn-sm btn-green add-to-week-btn">
                                </form>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            {{/each}}
        </div>
    </div>
</main>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../../javascripts/API-DDBB-Handler.js"></script>
<script src="../../javascripts/my-recipes.js"></script>