<article class="recipe-card">
    <div class="card">
        <img class="card-img-top" src="{{image}}" alt="{{title}}">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <ul>
                <li>Prep: <span class="green-span">{{preparationMinutes}}</span> min | </li>
                <li>Cook: <span class="green-span">{{cookingMinutes}}</span> min |</li>
            </ul>
            <hr>
            <ul>
                {{#if vegetarian}}
                <li>vegetarian | </li>
                {{/if}}
                {{#if vegan}}
                <li>vegan | </li>
                {{/if}}
                {{#if veryHealthy}}
                <li>Healthy | </li>
                {{/if}}
                {{#if glutenFree}}
                <li>Gluten free | </li>
                {{/if}}
            </ul>
            <hr>

            <a href="/recipes/details/{{id}}" class="btn btn-sm btn-green">More</a>
            <a href="/recipes/add-to-favourites/{{id}}" class="btn btn-sm btn-green">Fav</a>
        </div>
    </div>
</article>

{{!-- <img src="{{image}}" alt="{{title}}">
    <h3>{{title}}</h3>
    <ul>
        <li>Preparation: {{preparationMinutes}} min</li>
        <li>Cooking: {{cookingMinutes}} min</li>
    </ul>
    <ul>
        {{#if vegetarian}}
        <li>vegetarian</li>
        {{/if}}
        {{#if vegan}}
        <li>vegan</li>
        {{/if}}
        {{#if veryHealthy}}
        <li>Healthy</li>
        {{/if}}
        {{#if glutenFree}}
        <li>Gluten free</li>
        {{/if}}
    </ul>
    <a href="/recipes/details/{{id}}">See details</a>
</article> --}}