<article class="recipe-card">
    <div class="card">
        {{#if image}}
        <img class="card-img-top" src="{{image}}" alt="{{title}}">
        {{else}}
        <img class="card-img-top" src="../../images/rec-avocado.png" alt="">
        {{/if}}
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <ul>
                {{#if preparationMinutes}}
                <li>Prep: <span class="green-span">{{preparationMinutes}}</span> min | </li>
                {{else}}
                <li>Prep: <span class="green-span">Unknown </span>|</li>
                {{/if}}
                {{#if cookingMinutes}}
                <li>Cook: <span class="green-span">{{cookingMinutes}}</span> min | </li>
                {{else}}
                <li>Cook: <span class="green-span">Unknown </span>|</li>
                {{/if}}
            </ul>
            <hr>
            <ul>
                {{#if vegetarian}}
                <li>vegetarian | </li>
                {{/if}}
                {{#if vegan}}
                <li>vegan | </li>
                {{/if}}
                {{#if veryHealthy}}
                <li>Healthy | </li>
                {{/if}}
                {{#if glutenFree}}
                <li>Gluten free | </li>
                {{/if}}
            </ul>
            <hr>
            {{#if owner}}
            <form action="/profile/my-recipes/add-to-week/{{id}}" method="POST">
                <input type="date" min="2020-07-06" max="{{lastDay}}" name="{{today}}">
                <input type="submit" value="Add to week" class="btn btn-sm btn-green">
            </form>

            {{#if owner}}

            <a href="/profile/my-recipes/details/{{id}}" class="btn btn-sm btn-green">More details</a>
            
            {{else}}

            <a href="/recipes/details/{{id}}" class="btn btn-sm btn-green">More</a>
            <a href="/recipes/add-to-favourites/{{id}}" class="btn btn-sm btn-green">Fav</a>
            {{/if}}

        </div>
    </div>
</article>
