<main class="recipe-details">
    <div class="container">
        <div class="recipe-detailed">
            <h1>Details of recipe {{detailedRecipe.title}}</h1>
            <div class="row first-row">
                <div class="col-md-6">
                    <img class="detailedImageRecipe" src="{{detailedRecipe.image}}" alt="{{detailedRecipe.title}}">
                </div>
                <div class="col-md-6 col-with-padding">
                    <h4>Ingredients</h4>
                    <ul>
                        {{#each detailedRecipe.extendedIngredients}}
                        <li>{{original}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div class="row last-row">
                <div class="steps-container">
                    <div class="col-md-12">
                        <hr>
                        <h4>Instructions</h4>
                        <ul>
                            {{#each detailedRecipe.analyzedInstructions}}
                            {{#each steps}}
                            <li>{{step}}</li>
                            {{/each}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="tags-cont">
                    {{#if detailedRecipe.vegetarian}}
                    <span>vegetarian |</span>
                    {{/if}}
                    {{#if detailedRecipe.vegan}}
                    <span>vegan |</span>
                    {{/if}}
                    {{#if detailedRecipe.veryHealthy}}
                    <span>very Healthy |</span>
                    {{/if}}
                    {{#if detailedRecipe.glutenFree}}
                    <span>Gluten free |</span>
                    {{/if}}
                    {{#if detailedRecipe.cheap}}
                    <span>Cheap</span>
                    {{/if}}
                </div>
            </div>
            {{#if similarRecipes}}
            <input type="button" value="See similar recipes" class="btn btn-sm btn-green see-similar-btn">
            {{/if}}
        </div>
        {{#if similarRecipes}}
        <section class="results-section-similar hidden">
            <div class="container">
                <div class="row justify-content-center">
                    {{#each similarRecipes}}
                    <div class="col-4">
                        <article class="recipe-card">
                            <div class="card">
                                {{>cardRecipeInfo this}}
                                <div class="card-body">
                                    <div class="btn-container-in-card">
                                        {{#if ../user}}
                                        <form action="/recipes/add-to-favourites/{{this.id}}" method="post">
                                            <input type="submit" value="&#10084;" data-recipe="{{this.id}}"
                                                class="favbutton btn btn-xs btn-green">
                                        </form>
                                        {{/if}}
                                        <a href="/recipes/details/{{this.id}}" class="btn btn-xs btn-green">&#10010;</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                    {{/each}}
                </div>
            </div>
        </section>
        {{/if}}
    </div>
</main>